# Frontend and Admin Panel Backend Connection
PUBLIC_BACKEND_URL=https://pexih-api.vercel.app

# Neon PostgreSQL Connection String
DATABASE_URL=

# Upstash Redis REST Caching (Optional: for high-performance Edge caching)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cloudinary Credentials Configuration (For secure image uploads)
PUBLIC_CLOUDINARY_CLOUD_NAME=dr070zmrm
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini API Key for AI features
GEMINI_API_KEY=

# Unsplash API Access Key for high-res stock photo searching
PUBLIC_UNSPLASH_ACCESS_KEY=


