# Server Configuration
PORT=8080
NODE_ENV=production

# Neon PostgreSQL Connection String (Database Utama)
DATABASE_URL=postgresql://user:password@hostname/dbname?sslmode=require

# Upstash Redis REST Caching (Sangat disarankan untuk performa Edge)
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cloudinary Storage Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=dr070zmrm
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
